/*

   FONT FAMILY GROUPS
   Docs: http://tachyons.io/docs/typography/font-family/

*/

/* custom Pangram font for website */
@font-face {
 font-family: "Pangram";
 src: url("../../css/fonts/pangram/pangram-black-webfont.woff2") format("woff2"),
        url("../../css/fonts/pangram/pangram-black-webfont.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css?family=Rubik300');
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One");


.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.serif {
  font-family: georgia,
               times,
               serif;
}

.system-sans-serif {
  font-family: sans-serif;
}

.system-serif {
  font-family: serif;
}


/* Monospaced Typefaces (for code) */

/* From http://cssfontstack.com */
code, .code {
  font-family: Consolas,
               monaco,
               monospace;
}

.courier {
  font-family: 'Courier Next',
               courier,
               monospace;
}


/* Sans-Serif Typefaces */

.helvetica {
  font-family: 'helvetica neue', helvetica,
               sans-serif;
}

.avenir {
  font-family: 'avenir next', avenir,
               sans-serif;
}

.pangram {
  font-family: Pangram, 
               sans-serif;
}

.rubik {
  font-family: 'Rubik', Rubik, 
                sans-serif;
}

.rubik-mono {
  font-family: 'Rubik Mono One', 
                sans-serif;
}


/* Serif Typefaces */

.athelas {
  font-family: athelas,
               georgia,
               serif;
}

.georgia {
  font-family: georgia,
               serif;
}

.times {
  font-family: times,
               serif;
}

.bodoni {
  font-family: "Bodoni MT",
                serif;
}

.calisto {
  font-family: "Calisto MT",
                serif;
}

.garamond {
  font-family: garamond,
               serif;
}

.baskerville {
  font-family: baskerville,
               serif;
}

